@import "variables";
@import "reset";

.dark-theme {
  color: rgba(250, 250, 250, 0.781);
  background: #2f2e3f;
  form button {
    color: rgba(250, 250, 250, 0.781);
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  .icon {
    width: 30px;
    cursor: pointer;
    margin-left: 2rem;
    margin-top: 2rem;
  }
  .icon-loc {
    width: 30px;
    cursor: pointer;
    margin-top: 2rem;
    margin-right: 2rem;
  }
}
