.toast-container {
  position: fixed;
  top: 1rem;
  right: 1.5rem;
  display: grid;
  justify-items: end;
  gap: 1.5rem;
  z-index: -1;
}

.toast {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  padding: 0.5em 1em;
  background-color: turquoise;
  animation: toastIt 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
  word-wrap: break-word;
  width: 15rem;
  border-radius: 5px;
}

@keyframes toastIt {
  0%,
  100% {
    transform: translateX(0);
    opacity: 0;
  }
  10%,
  90% {
    transform: translateX(-10%);
    opacity: 1;
  }
}
